table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 10px;
}
.red{
    background-color: red;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
.green{
    background-color: rgb(7, 121, 7);
    color: white;
}